/* .image {
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
    padding: 50px 100px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%; 
} */

.body{
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    
}

.image {
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 100px 200px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto; 
    border-radius: 10px;
    font-weight: bold;
}

