<div class="container">
  <mat-toolbar color="primary" >
      <span>Student Registration System</span>
      <button mat-raised-button (click)="homeBtn()" > Back</button>
  </mat-toolbar>
</div>



<div class="demo-button-container">
  <!-- <button mat-raised-button (click)="addData()" class="demo-button">
      Add data
    </button>
    <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button> -->
</div>

<table mat-table [dataSource]="sheduledList" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>  -->




  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="sheduledId">
    <th mat-header-cell *matHeaderCellDef>Sheduled Id</th>
    <td mat-cell *matCellDef="let sheduledList">{{sheduledList.sheduledId}}</td>
  </ng-container> -->

  <!-- Symbol Column -->
  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef>Course Name</th>
    <td mat-cell *matCellDef="let sheduledList">{{sheduledList.courseName}}</td>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>Start Time</th>
    <td mat-cell *matCellDef="let sheduledList">{{sheduledList.startTime}}</td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef>End Time</th>
    <td mat-cell *matCellDef="let sheduledList">{{sheduledList.endTime}}</td>
  </ng-container>

  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef>Day</th>
    <td mat-cell *matCellDef="let sheduledList">{{sheduledList.day}}</td>
  </ng-container>


  <!-- <ng-container matColumnDef="removeData">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let coursesList"><button (click)="removeData(sheduledList.sheduledId)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button></td>
  </ng-container> -->

  <ng-container matColumnDef="removeData">
    <th mat-header-cell *matHeaderCellDef>DELETE</th>
    <td mat-cell *matCellDef="let sheduledList"><a class="btn" href="javascript: removeData(sheduledList.sheduledId)"
        (click)="removeData(sheduledList.sheduledId)"><button>delete</button></a></td>

  </ng-container>

  <!-- <ng-container matColumnDef="addData">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <br>
    <td mat-cell *matCellDef="let sheduledList"><button (click)="addData(sheduledList)" mat-icon-button>
        <mat-icon> edit_attributes</mat-icon>

      </button></td>
  </ng-container> -->



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>