<div class="container">
    <div class="oper">
        <br><br>
        
        <button mat-raised-button color="primary" (click)="logBtn()" >Login</button><br>
        <button mat-raised-button color="primary" (click)="regBtn()" >Register</button><br>
        <button mat-raised-button color="primary" (click)="courseBtn()" >Courses</button><br>
        <button mat-raised-button color="primary" (click)="sheduledBtn()" >Sheduled</button><br>
        <button mat-raised-button color="primary" (click)="showBtn()" >View User</button><br>
        <button mat-raised-button color="primary" (click)="viewcoursesBtn()" >View Courses</button><br>
        <button mat-raised-button color="primary" (click)="viewsheduledBtn()" >View Sheduled</button>
        
        
    </div>
</div>