<!-- <div class="background-video">
    <video autoplay loop>
        <source src="1.mp4" type="video/mp4">
    </video>

    <div class="button-container">


        <button mat-raised-button color="primary" (click)="logBtn()">Login</button>
        <button mat-raised-button color="primary" (click)="regBtn()">Register</button>
        <button mat-raised-button color="primary" (click)="courseBtn()">Courses</button>
        <button mat-raised-button color="primary" (click)="sheduledBtn()">Sheduled</button>
        <button mat-raised-button color="primary" (click)="showBtn()">View User</button>
        <button mat-raised-button color="primary" (click)="viewcoursesBtn()">View Courses</button>
        <button mat-raised-button color="primary" (click)="viewsheduledBtn()">View Sheduled</button>

    </div>

</div> -->

    <div class="background-video">
        <video autoplay muted loop >
            <source src='assets/12.mp4' type="video/mp4">
            Your browser does not support the video tag.
        </video> 
        <!-- <video width="320" height="240" controls>
            <source src="12.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video> -->
    </div>

    <div class="button-container">
        <!-- Your buttons go here -->
        <!-- <button mat-raised-button color="primary" (click)="logBtn()">Login</button>
        <button mat-raised-button color="primary" (click)="regBtn()">Register</button> -->
        <button mat-raised-button color="primary" (click)="courseBtn()">Courses</button>
        <button mat-raised-button color="primary" (click)="sheduledBtn()">Sheduled</button>
        <button mat-raised-button color="primary" (click)="showBtn()">View User</button>
        <button mat-raised-button color="primary" (click)="viewcoursesBtn()">View Courses</button>
        <button mat-raised-button color="primary" (click)="viewsheduledBtn()">View Sheduled</button>
    </div>
