.container{
    text-align: center;
    width: 100%;
}
.container .card{
    background-color: aquamarine;
    width: 50%;
    margin: auto;
    margin-top: 10px;

}
.send button{
    margin: 10px;
}
.inp {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(8, 36, 253, 0.1);
    text-align: center;
    animation: fadeIn 2s ease-out;
  }