

<p>jyghjgg</p>

<div class="container">
    <div class="card">
        <h1>Registration Form</h1>
        <form  #myForm="ngForm"  >  
            <!-- (ngSubmit)="doRegistration(myForm.value)" -->
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Name</mat-label>
                    <input class="inp" type="text" name="StuName" formControlName="name" matInput placeholder="Enter Name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Email</mat-label>
                    <input class="inp" type="email" name="StuEmail" matInput placeholder="Enter Email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Mobile</mat-label>
                    <input class="inp" type="text" name="StuMobNum" matInput placeholder="Enter Mobile">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Date of Birth</mat-label>
                    <input class="inp" type="text" name="DOB" matInput placeholder="Enter Date of Birth">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Address</mat-label>
                    <input class="inp" type="text" name="StuAddress" matInput placeholder="Enter Address">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Password</mat-label>
                    <input class="inp" type="password" name="Password" matInput placeholder="Enter Password">
                </mat-form-field>
            </p>
            <div class="send">
                <button type="submit" mat-raised-button color="primary">Register</button>
                <button type="reset" mat-raised-button color="accent">Reset</button>
            </div>


        </form>
    </div>
</div>